<div class="container-form">

  <div class = "destaque-new-user" >
    <p><%= resource_name.to_s.humanize %> edite suas informações a seguir.</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

      <div class = "container-texto">
        <div class = titulo>
          <h2>Cadastro</h2>
          <p class="detalhe-page-new-user">
          </p>
        </div>
      </div>

      <div class = "container-out-form">
        <div class = "form-style">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }%>
            <%= f.input :password,
            hint: "leave it blank if you don't want to change it",
            required: true,
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :phone %>
            <%= f.input :cpf %>
            <div class ="birth">
              <p>Data de nascimento</p>
              <%= f.date_field :birth_date, data_provide: :datepicker %>
            </div>
            <%= f.input :profile_picture %>
            <%= f.input :profile_picture_cache, as: :hidden %>
            <%= f.input :current_password,
            hint: "Nós precisamos da sua senha atual para confirmar as mudanças",
            required: true,
            input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions form-action-style">
            <%= f.button :submit, "Atualizar", class: 'btn-submit btn-coral' %>

            <% end %>

            <div class= "edit-actions">
              <!-- <h3>Cancelar minha conta</h3> -->
              <h1>Insatisfeito?</h1>
              <div class="edit-buttons">
                <div>
                  <p><%= link_to "Cancelar minha conta",registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class:'btn-submit btn-branco' %></p>
                </div>
                <div>
                  <%= link_to "Voltar", :back %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
