<div class="container-form">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <h2>Sign up</h2>


<div class = "form-style">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
        label: 'Nome',
        error: 'Não pode ser em branco'  %>
        <%= f.input :last_name,
        label: 'Sobrenome',
        error: 'Não pode ser em branco'  %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
        <%= f.input :password,
        required: true,
        hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
        input_html: { autocomplete: "new-password" },
        label: 'Senha',
        error: 'Não pode ser em branco' %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" },
        label: 'Confirmação de senha',
        error: 'Não pode ser em branco'  %>
        <%= f.input :phone,
        label: 'Telefone / celular',
        error: 'Não pode ser em branco'  %>
        <%= f.input :rg,
        error: 'Não pode ser em branco'  %>
        <%= f.input :birth_date,
        label: 'Data de nascimento',
        error: 'Não pode ser em branco'  %>
      </div>
</div>

      <div class="form-actions form-action-style">
        <%= f.button :submit, "Sign up", class: ' btn-coral' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
