<!-- Ver app/assets/stylesheets/pages/_new_user-->

<div class="container-form">

  <div class = "destaque-new-user" >
    <p>Cadastre-se para agendar consultas de acordo com a sua necessidade.</p>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <div class = "container-texto">
        <div class = titulo>
          <h2>Cadastro</h2>
            <p class="detalhe-page-new-user"></p>
        </div>
      </div>
      <div class = "container-out-form">
        <div class = "form-style">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "email" }%>
          <%= f.input :password,
          required: true,
          hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
          required: true,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :phone %>
          <%= f.input :cpf %>
          <%= f.input :gender, as: :radio_buttons, collection: ['feminino', 'masculino'] %>
          <div class ="birth">
            <p>Data de nascimento</p>
            <%= f.date_field :birth_date, data_provide: :datepicker %>
          </div>
          <%= f.input :profile_picture, input_html: { class: 'invisible'}, label_html: { class: 'btn-branco'}, label: ' Escolher foto' %>
          <%= f.input :profile_picture_cache, as: :hidden %>

        </div>
      </div>
      <div class="form-actions form-action-style" style = "margin-top: -30px">
        <%= f.button :submit, "Enviar", class: ' btn-submit btn-coral' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
