<div class = "all-consultations">

  <h1>Histórico de consultas</h1>
  <div class = "box-info">

    <% @consultations.each do |consultation| %>

    <div class = date>
      <h4>
        <%= consultation.start_time.day %>/<%= consultation.start_time.month%>/<%= consultation.start_time.year%>
      </h4>
    </div>

    <div class = hora>
      <h4>
        <%= consultation.start_time.hour%>:<%= consultation.start_time.min%>
        <br>
        <%= consultation.end_time.hour%>:<%= consultation.end_time.min%>
      </h4>
    </div>

    <div class = name>
      <h4>
        Dr. <%= consultation.doctor.user.first_name %>
        <%= consultation.doctor.user.last_name %>
      </h4>
      <h4>
        Patient <%= consultation.patient.first_name %>
        <%= consultation.patient.last_name %>
      </h4>
    </div>
    <% end %>
  </div>
</div>
