<h1>Minhas Consultas</h1>

<% @consultations.each do |consultation| %>
  <%= link_to user_consultation_path(id: consultation.doctor.id, consultation_id: consultation.id) do %>
<p>
  <h4>

    <p>
      <%= consultation.start_time %>
    </p>

    <p>
      <%= consultation.end_time %>
    </p>

    Dr. <%= consultation.doctor.user.first_name %>
    <%= consultation.doctor.user.last_name %>
  </h4>
  <h4>
    Patient <%= consultation.patient.first_name %>
    <%= consultation.patient.last_name %>
  </h4>
</p>
  <% end %>
<% end %>
