<!-- ver app/assets/stylesheets/pages/_schedule -->
<div class = "container">
  <div class = "hello text-left">
  <h2> Olá, <%= @user.first_name %> <%= @user.last_name %>!</h2>
  </div>
  <div class = "info-box">
  <!-- <div class = "grid1"> -->
    <div class = "doc-information shadow-sm p-3 mb-5 bg-light rounded">
      <h3> O Dr(a). <%= @doctor.user.first_name %> <%= @doctor.user.last_name %> possui os seguintes horários disponíveis para o dia <%= date = Date.parse(params[:consultation]["start_time"]) %> pelo valor de <%= humanized_money_with_symbol(@doctor.price) %>.</h3>
    </div>

    <div class = "schedule">
      <div class="row align-middle">
        <% @consultations = @consultations.where("CAST(start_time AS DATE) = ?", date.to_s) %>
        <% total_count = 0 %>
        <% unavaiable_count = 0 %>
        <% (14..37).to_a.each do |number| %>
          <% if check_avaiability(@consultations, number) %>
            <% total_count += 1 %>
            <% time = Time.parse("#{sprintf '%02d',(number*30)/60}:#{sprintf '%02d', (number*30)%60}") %>
            <% dtime = DateTime.new(date.year, date.month, date.day, time.hour, time.min, time.sec, time.zone) %>
            <% if dtime > Time.now %>
              <%= link_to doctor_consultations_path(consultation: {doctor_id: @doctor.id, patient_id: current_user.id, price_cents: @doctor.price, start_time: dtime}), style:"text-decoration: none;", method: :post do %>
              <div class = "style-horario btn-branco-peq">
                <%= "#{sprintf '%02d',(number*30)/60}:#{sprintf '%02d', (number*30)%60}" %> - <%= "#{sprintf '%02d', ((number+1)*30)/60}:#{sprintf '%02d', ((number+1)*30)%60}" %>
              </div>
              <% end %>
            <% else %>
              <% unavaiable_count += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <h3 class="doc-information">
            <%= "Não existem horários disponíveis para esta data." if total_count == unavaiable_count %>
        </h3>
      </div>
    </div>
  </div>
</div>


<!-- <div class="col-sm-offset-4 col-sm-4"> -->
