<h1>Consultation Information</h1>
<h2>Doctor: <%= @doctor.user.first_name %> <%= @doctor.user.last_name %></h2>
<h2>Patient: <%= @user.first_name %> <%= @user.last_name %></h2>
<h2>Price: <%= humanized_money_with_symbol(@doctor.price) %></h2>

<% @consultations.each do |consultation| %>
<h3>
  <%= consultation.start_time %> - <%= consultation.end_time %>
</h3>

<% end %>


<%= simple_form_for [ @doctor, @consultation ] do |f| %>
  <%= f.hidden_field :doctor_id, value: @doctor.id %>
  <%= f.hidden_field :patient_id, value: current_user.id %>
  <%= f.hidden_field :price_cents, value: @doctor.price %>
  <%= f.input :start_time, minute_step:15 %>
  <%= f.input :end_time, minute_step:15 %>
  <%= f.submit "book" %>
<% end %>

