<div class = main-container-edit-patients-records >  <div class = "container-texto">
  <div class = titulo>
    <h2>Prontuário</h2>
    <p class="detalhe-page-prontuario"></p>
  </div>
  <div class="container box-prontuario-info">

    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <h2 style = "padding-bottom: 5px; padding-top: 20px">Paciente: <%= @patient.first_name %> <%= @patient.last_name %></h2>
        <% if @patient_records != [] %>
        <% @patient_records.each do |patient_record| %>
        <p><%= sanitize(patient_record.entry) %></p>
        <div class = "button-edit-new">
          <%= link_to edit_patient_record_path(patient_record), class: 'btn-coral' do %>
          Editar
          <% end %>
          <% end %>
          <% else %>
          <%= link_to new_user_patient_record_path, class: 'btn-coral' do %>
          Criar Prontuário
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
