<div class = main-container-edit-patients-records >  <div class = "container-texto" style = "margin-top: 60px;">
  <div class = titulo>
    <h2>Prontuário</h2>
    <p class="detalhe-page-prontuario"></p>
  </div>
  <div class="container box-prontuario-info">

    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <h2 style = "padding-bottom: 5px; padding-top: 20px">Paciente: <%= @patient.first_name %> <%= @patient.last_name %></h2>
        <% if @patient_records != [] %>
        <% @patient_records.each do |patient_record| %>
        <p><%= sanitize(patient_record.entry) %></p>
        <div class = "button-edit-new">
          <%= link_to patients_path, class: 'btn-branco-coral' do %>Voltar
          <% end %>
          <%= link_to edit_patient_record_path(patient_record), class: 'btn-coral' do %>
          Editar
          <% end %>
          <% end %>
          <% else %>
          <%= link_to new_user_patient_record_path, class: 'btn-coral' do %>
          Criar Prontuário
          <% end %>
          <% end %>
          <button type="button" class="btn-coral" data-toggle="modal" data-target="#exampleModal">
            Enviar Mensagem
          </button>
        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar Mensagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class = "form-style">
                  <form action="<%= user_messages_path(@patient) %>" method="POST">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <div class="form-inputs">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Sua mensagem</label>
                        <textarea class="form-control" name="message[content]" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>

                    </div>
                  </div>
                  <div class = "button-edit-new">
                    <div class="form-actions form-action-style">
                      <input type="submit" value="Enviar" class="btn-coral">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
