<div class="container outer-box">
  <div class="row d-flex justify-content-between" style="margin-bottom: -25px;">
    <div class= "col-xs-12 col-md-4 ">
      <div class ="accordion apply-box-patients" id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0 edit-title">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2>Próximas Consultas</h2>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
             <% @consultations = @consultations.order("start_time ASC") %>
             <% @consultations.each do |consultation| %>
             <% if consultation.start_time > Time.now %>
             <% date = consultation.start_time %>
             <p><%= consultation.patient.first_name %> : <%= l(date, format: "%A, %d de %B de %Y") %> </p>
             <% end %>
             <% end %>
           </div>
         </div>
       </div>
       <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0 edit-title">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <h2>Meus Pacientes</h2>
           </button>
         </h5>
       </div>
       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <% @patients.sort_by!{|patient| patient.first_name} %>
          <% @patients.uniq! %>
          <% @patients.each do |patient| %>
          <%= link_to user_patient_records_path(patient) do %>
          <p><%= patient.first_name %> <%= patient.last_name %></p>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="apply-box-patients  p-3 mb-5 rounded col-xs-12 col-md-8 calendar-box">
  <div id="calendar"></div>
  <div class="container-schedule-doctor">
    <h3 style = "padding-left: 5px">Marcar dias disponíveis para atendimento</h3>
    <div class = "flex-days">
    <% 7.times do |number| %>
        <%= link_to work_days_path(week_day: number), method: :post, class: "btn-branco-patients" do %>
        <%= t(Date::DAYNAMES[number]) %>
        <% end %>
    <% end %>
    </div>
  </div>
  <div class="container-calendar-doctor">
    <h3 style = "padding-left: 5px">Dias disponibilizados para agendamento de consultas</h3>
    <div class = "flex-days">
    <% current_user.doctor.work_schedule.work_days.each do |weekday| %>
        <%= link_to work_day_path(id: weekday.id), method: :delete, class: "btn-coral-patients" do %>
        <%= t(Date::DAYNAMES[weekday.day]) %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>

</div>
</div>


<script>
  $("#calendar").fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,list'
    },
    buttonText: {
      today:    'hoje',
      month:    'mês',
      week:     'semana',
      day:      'dia',
      list:     'lista'
    },
    locale: 'pt-BR',
    events: <%= raw (consultation_array(@consultations)) %>,
  });
</script>

