<div class="show-page">
  <div class="doc-show">

    <section class="profile-doc-section">
      <div class="profile-doc-wrapper">

        <div class="profile-doc-inner">

          <div class="profile-doc-main">

            <div class="profile-doc-main-avatar">
              <%= cl_image_tag @doctor.user.profile_picture, height: 150, style:"border-radius: 50%;" %>
            </div>
            <div class="profile-doc-main-title">
              <h1 class="profile-doc-main-title-name">
                <%= @doctor.user.first_name %> <%= @doctor.user.last_name %>
              </h1>
              <h2 class="profile-doc-main-title-desc">
                <div class="profile-doc-main-title-desc-top">
                  <% @doctor.specialties.each do |specialty| %>
                  <%= specialty.name %>
                  <% end %>
                  · $$$
                </div>
                <div class="profile-doc-main-title-desc-bottom">
                  <% if @general_rating > 0 %>
                    Média <%= @general_rating %> (<%= @reviews.size %> avaliações)
                   <% end %>
                </div>
              </h2>
            </div>
          </div>

          <div class="profile-doc-contact">
            <div class="profile-doc-contact-content">
              <div class="profile-doc-contact-content-location">
                <h4 class="profile-doc-contact-content-location-title">Onde</h4>
                <p class="profile-doc-contact-content-location-info">Rua Mourato Coelho, 1402</p>
                <p class="profile-doc-contact-content-location-info">São Paulo, SP</p>
              </div>
              <div class="profile-doc-contact-content-phone">
                <h4 class="profile-doc-contact-content-location-title">Contato</h4>
                <p class="profile-doc-contact-content-location-info">(11) 3850-7800</p>
                <p class="profile-doc-contact-content-location-info">ghouse@johnhopkins.com</p>
              </div>
            </div>
          </div>

        </div>

      </div>
      <% if @doctor.work_schedule.present? %>
        <div class="appointment-wrapper">
          <div class="appointment-inner">
            <div class="appointment-title">
              <h3 class="appointment-title-content">Atendimento</h3>
                <% @doctor.work_schedule.work_days.each do |weekday| %>
                <p>
                  <%= t(Date::DAYNAMES[weekday.day]) %>
                </p>
                <% end %>
            </div>
            <div class="appointment-book" style="width: 100%;">
              <%= simple_form_for @consultation, url: new_doctor_consultation_path(params[:id]), method: :get do |f| %>
              <div class="form-book-outter">
                <div class="form-book">
                  <%= f.label "Selecione o dia", { class: 'label-agendamento' } %>
                  <%= f.date_field :start_time, data_provide: :datepicker %>
                </div>
                <%= f.submit "agendar", { class: 'btn-coral btn-book'} %>
              </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    </section>


    <section class="about-doc">
      <div class="about-doc-wrapper">
        <div class="about-doc-inner">
          <div class="about-doc-title">
            <h3 class="about-doc-title-content">Sobre</h3>
          </div>

          <div class="about-doc-details">
            <div class="about-doc-details-specialty">
              <h3>Especialidades</h3>
              <span>
                <% @doctor.specialties.each do |specialty| %>
                <p> <%= specialty.name %> </p>
                <% end %>
              </span>
            </div>
            <div class="about-doc-details-consultation">
              <h3>Consulta</h3>
              <p><%= humanized_money_with_symbol(@doctor.price) %></p>
              <p>1 hora</p>
            </div>
            <div class="about-doc-details-gender">
              <h3>Sexo</h3>
              <p>Masculino</p>
            </div>
            <div class="about-doc-details-years">
              <h3>Experiência</h3>
              <p>20 anos</p>
            </div>
            <div class="about-doc-details-jobs">
              <h3>Experiência Profissional</h3>
              <p>Dr.Carlos Fernando Nemes possui títulos de especialista pela AMB e Sociedades Brasileiras de Cardiologia - SBC, Terapia Intensiva (AMIB/SOPATI) e Geriatria (SBGG). Pós graduado em Geriatria pela UNIFESP. Sua abordagem é baseada fundamentalmente na anamnese: o diálogo reflexivo sobre a vida do paciente, seus hábitos, seu histórico familiar e suas perspectivas e motivações.</p>
            </div>
            <div class="about-doc-details-academic">
              <h3>Formação Acadêmica</h3>
              <p>Graduação em medicina: UNISA (1976), Titulo de Especialista em Cardiologia, Terapia Intensiva e Geriatria Residência Médica em Clínica Médica: Hospital do Servidor Público Estadual - HSPE (1976-1978), Residência Médica em Cardiologia: Hospital do Servidor Público Estadual - HSPE (1978-1980), Pos-graduação em Geriatria: UNIFESP</p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <section class="map-doc">
      <div class="map-doc-wrapper">
        <div class="map-doc-inner">
          <div id="map"
          style="width: 100%; height: 350px; border-radius: 4px"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </section>

      <section class="review-doc-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="review-doc-info">
                <h3>Avaliações de outros pacientes</h3>
                <% if @reviews.size >= 1 %>
                <h4>Nota geral:</h4>
                <% end %>
                <% @general_rating.times do |star| %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="reviews">

                <% if @reviews.size >= 1 %>
                  <% @reviews.each do |review| %>
                  <div class="message">
                    <%= cl_image_tag (review.user.profile_picture), class:"avatar-large" %>
                  <div class="message-name">
                    <h3><%= review.user.first_name %></h3>
                  </div>
                  <div class="message-body">
                    <p><strong><%= review.title %></strong></p>
                    <p>
                      <%= review.content %>
                    </p>
                  </div>
                  <div class="message-status">
                    <% review.rating.times do |star| %>
                    <i class="fas fa-star"></i>
                    <% end %>
                  </div>
                </div>

                  <% end %>
                <% else %>
                <div class = "review-text">
                  <h5>Seja o primeiro a avaliar este médico</h5>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row review-form form-text">
            <div class="col-xs-12 col-md-12 col-xs-offset-3 ">
              <%= simple_form_for([@doctor, @review]) do |f| %>
              <div class="form-inputs">
                <%= f.input :title %>
                <%= f.input :content %>
              </div>



              <div class="d-flex">
                <%= f.input :rating, as: :radio_buttons, collection: ['Excelente', 'Boa', 'Poderia ser melhor', 'Ruim', 'Péssima'], label: 'Como foi sua experiencia?',  class: 'd-flex' %>
              </div>
              <%= f.submit "Enviar Avaliação", class: 'btn-coral' %>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- <h1>Dr. <%= @doctor.user.first_name %> <%= @doctor.user.last_name %></h1>
<h2>Price: <%= humanized_money_with_symbol(@doctor.price) %></h2>
<%= link_to "Book", new_doctor_consultation_path(params[:id]) %>
-->

<!-- <%= humanized_money_with_symbol(@doctor.price) %> -->


