<h1>Dr. <%= @doctor.user.first_name %> <%= @doctor.user.last_name %></h1>
<h2>Price: <%= humanized_money_with_symbol(@doctor.price) %></h2>

<%= link_to "doctor", new_doctor_consultation_path(params[:id]) %>

<%= simple_form_for @consultation, url: new_doctor_consultation_path(params[:id]), method: :get do |f| %>
  <%= f.label "Selecione o dia" %>
  <%= f.input :start_time, as: :date, label:false %>
  <%= f.submit "send" %>
<% end %>
