<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Na Vitta você encontra os melhores profissionais da saúde. Marque consultas de maneira rápida e fácil.">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://assets.pagar.me/pagarme-js/3.0/pagarme.min.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div id="set_min_height">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= javascript_include_tag 'application' %>
        <%= yield %>
      <%= javascript_pack_tag 'application' %>
    </div>
    <%= render 'shared/footer' %>
  </body>
  <script>

  </script>
</html>
