<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vitta</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://assets.pagar.me/pagarme-js/3.0/pagarme.min.js"></script>
    <link rel="icon" href="<%= image_path("icon.png")%>" ">
  </head>
  <body>
    <div id="set_min_height">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= javascript_include_tag 'application' %>
        <%= yield %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
  <footer>
  <%= render 'shared/footer' %>
  </footer>
  <script>

  </script>
</html>
